#blog {
    margin:0;
    padding: 0;

        .container-blog {
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            grid-template-rows: repeat(10, 1fr);
            grid-gap: 1rem 3rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10rem;
        
            p {
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                font-weight: 400;
                color: #57647C;
                text-align: center;
            }
        }

        .blog-headline {
            grid-column: 3/8;
            grid-row: 1/3;
            font-size: 48px;
            font-weight: 900;
            text-align: center;
            line-height: 3.5rem;

        }

        .blog-text {
            grid-column: 3/8;
            grid-row: 3/4;
        }

        .blog-box-text {
            padding: 1rem 2rem;
            padding-bottom: 2rem;
            font-size: 22px;
            font-weight: 900;
            line-height: 1.8rem;

                p {
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;
                    color: #57647C;
                    text-align: left;
                    padding: 1.5rem 0rem;
                }

                span {
                    font-size: 14px;
                    color: #FF6803;
                    font-weight: 400;
                }
        }

        .blog-box-01{ 
        background: white;
        border: 0px solid #ffffff;
        border-radius: 5px;
        box-shadow: 0 1px 10px 1px rgba(190, 206, 223, 0.411);
        transition: box-shadow 0.15s ease-in-out;
        background-color: #fff;
        grid-column: 1/4;
        grid-row: 4/11;
        font-size: 21px;
        font-weight: 900;
        padding: 0rem;
        margin: 0rem;
        }

        .blog-box-02 {
        background: white;
        border: 0px solid #ffffff;
        border-radius: 5px;
        box-shadow: 0 1px 10px 1px rgba(190, 206, 223, 0.411);
        transition: box-shadow 0.15s ease-in-out;
        background-color: #fff;
        grid-column: 4/7;
        grid-row: 4/11;
        font-size: 21px;
        font-weight: 900;
        padding: 0rem;
        margin: 0rem;
        }

        .blog-box-03 {
        background: white;
        border: 0px solid #ffffff;
        border-radius: 5px;
        box-shadow: 0 1px 10px 1px rgba(190, 206, 223, 0.411);
        transition: box-shadow 0.15s ease-in-out;
        background-color: #fff;
        grid-column: 7/10;
        grid-row: 4/11;
        font-size: 21px;
        font-weight: 900;
        padding: 0rem;
        margin: 0rem;
        }

        .blog-box-01:hover, .blog-box-02:hover, .blog-box-03:hover {
        box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
        }
}

.btn-blog {
    background: rgb(242,55,121);
    background: linear-gradient(90deg, rgba(242,55,121,1) 0%, rgba(255,104,3,1) 50%, rgba(255,104,3,1) 100%);
    font-family: 'Roboto';
    border: 0;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 1rem 2.2rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn-blog:hover {
    box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
}
