@import "./mixin";

#blog {
    margin:0;
    padding: 0;

        .container-blog {
            @include grid;
            font-family: $poppins;
            grid-template-columns: repeat(9, 1fr);
            grid-template-rows: repeat(10, 1fr);
            grid-gap: 1rem 3rem;
            margin-top: 10rem;

            @include for-mobile {
                padding: 1rem;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(22, 80px);
                margin-top: 5rem;
                grid-gap: 0rem 0rem;
                margin-left: 0.2rem;
            }

            @include for-tablet {
                padding: 0rem;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(9, 80px);
                margin-top: 5rem ;
                grid-gap: 0rem 2rem;
            }
        
            p {
                @include p;
                text-align: left;

                @include for-mobile {
                    font-size: 12px;
                    padding: 0.5rem 0rem;
                }

                @include for-tablet {
                    font-size: 17px;
                    padding: 0.5rem 0rem;
                    margin-bottom: 2rem;
                    margin-left: 0rem;
                    margin-right: 2rem;
                    text-align: left;
                    
                }
            }
        }

        .blog-headline {
            grid-column: 2/9;
            grid-row: 1/3;
            font-size: 48px;
            font-weight: 900;
            text-align: center;;
            line-height: 3.5rem;

            @include for-mobile {
                grid-column: 1/2;
                grid-row: 1/2;
                font-size: 25px;
                line-height: 2rem;
            }

            @include for-tablet {
                grid-column: 1/4;
                grid-row: 1/2;
                font-size: 35px;
                line-height: 2rem;
            }
        }

        .blog-text {
            grid-column: 3/8;
            grid-row: 2/3;
            font-family: $roboto;
            font-size: 18px;
            color: $gray;
            text-align: center;

            @include for-mobile {
                grid-column: 1/2;
                grid-row: 2/3;
                font-size: 12px;
            }

            @include for-tablet {
                grid-column: 1/4;
                grid-row: 2/3;
                font-size: 17px;
                text-align: center;
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }

        .blog-box-text {
            padding: 1rem 1rem;
            padding-bottom: 2rem;
            font-size: 22px;
            font-weight: 900;
            line-height: 1.8rem;

            @include for-mobile {
                font-size: 20px;
                line-height: 1.5rem;
            }

            @include for-tablet {
                font-size: 25px;
                line-height: 1.5rem;
            }

                p {
                    @include p;
                    margin-top: 0rem;
                    margin-bottom: 2rem;

                    @include for-mobile {
                        font-size: 12px;
                        text-align: left;
                    }
                }

                span {
                    @include span;

                    @include for-mobile {
                        font-size: 12px;
                    }

                    @include for-tablet {
                        font-size: 15px;
                    }
                }
        }

        .blog-box-01{ 
        @include blog-box;
        grid-column: 1/4;
        grid-row: 4/11;

            @include for-mobile {
                grid-column: 1/2;
                grid-row: 3/9;
            }

            @include for-tablet {
                grid-column: 1/2;
                grid-row: 3/10;
            }
        }

        .blog-box-02 {
        @include blog-box;
        grid-column: 4/7;
        grid-row: 4/11;

            @include for-mobile {
                grid-column: 1/2;
                grid-row: 10/16;
            }

            @include for-tablet {
                grid-column: 2/3;
                grid-row: 3/10;
            }
        }

        .blog-box-03 {
        @include blog-box;
        grid-column: 7/10;
        grid-row: 4/11;

            @include for-mobile {
                grid-column: 1/2;
                grid-row: 17/23;
            }

            @include for-tablet {
                grid-column: 3/4;
                grid-row: 3/10;
            }
        }

        .blog-box-01:hover, .blog-box-02:hover, .blog-box-03:hover {
        box-shadow: $box-shadow;
        }
}

#img01, #img02, #img03 {
    @include for-mobile {
        width: 340px;
    }

    @include for-tablet {
        width: 220px;
    }
}

.btn-blog {
    @include btn;

    @include for-mobile {
        font-size: 8px;
        padding: 0.7rem 1rem;
        margin-top: 0rem;
    }

    @include for-tablet {
        font-size: 15px;
        padding: 0.7rem 1rem;
    }
}

.btn-blog:hover {
    box-shadow: $box-shadow;
}
