#contact {
    margin: 0;
    padding: 0;

    .container-contact {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin-left: auto;
        margin-right: auto;
        margin-top: 10rem;
        grid-gap: 2rem 0rem;
        background-image: url(../Map.png);
        background-repeat: no-repeat;
        background-position: 50% 100%;
        text-align: center;

            p {
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                font-weight: 400;
                color: #57647C;
                text-align: center;
            }
    }

    .contact-headline {
        grid-column: 3/8;
        grid-row: 1/3;
        font-size: 48px;
        font-weight: 900;
        line-height: 3.5rem;
    }

    .contact-text {
        grid-column: 3/8;
        grid-row: 2/3;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 400;
    }

    .contact-downloaded {
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 42px;
        color: #F23779;
        font-weight: 600;
    }

    .contact-feedback {
        grid-column: 4/5;
        grid-row: 3/4;
        font-size: 42px;
        color: #F23779;
        font-weight: 600;
    }

    .contact-workers {
        grid-column: 6/7;
        grid-row: 3/4;
        font-size: 42px;
        color: #F23779;
        font-weight: 600;
    }

    .contact-contributors {
        grid-column: 8/9;
        grid-row: 3/4;
        font-size: 42px;
        color: #F23779;
        font-weight: 600;
    }

    .contact-box {
        display: flex;
        justify-content: space-between;
        background: white;
        border: 1px solid #ffffff;
        border-radius: 10px;
        box-shadow: 0 1px 10px 1px rgba(190, 206, 223, 0.411);
        transition: box-shadow 0.15s ease-in-out;
        background-color: #fff;
        grid-column: 3/8;
        grid-row: 4/5;
        font-size: 21px;
        font-weight: 900;
        padding: 2rem;
    }

    .contact-box:hover {
        box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
    }

    .contact-01 {
        margin: 0;
        padding: 0;
        text-align: left !important;
    }
}

.btn-contact {
    background: rgb(242,55,121);
    background: linear-gradient(90deg, rgba(242,55,121,1) 0%, rgba(255,104,3,1) 50%, rgba(255,104,3,1) 100%);
    font-family: 'Roboto';
    border: 0;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 1rem 2.2rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn-contact:hover {
    box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
}