#features {
    margin: 0;
    padding: 0;
    
.container-features {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem 0rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}

.features-text {
    grid-column: 1/2;
    grid-row: 1/3;
    font-size: 48px;
    font-weight: 900;
    line-height: 3.5rem;
    margin-bottom: 2rem;
}

.features-page {
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: 22px;
    font-weight: 900;
}

.features-site {
    grid-column: 5/6;
    grid-row: 1/2;
    font-size: 22px;
    font-weight: 900;
}

.features-global {
    grid-column: 3/4;
    grid-row: 2/3;
    font-size: 22px;
    font-weight: 900;
}

.features-safe {
    grid-column: 5/6;
    grid-row: 2/3;
    font-size: 22px;
    font-weight: 900;
}

}

.btn-features {
    background: rgb(242,55,121);
    background: linear-gradient(90deg, rgba(242,55,121,1) 0%, rgba(255,104,3,1) 50%, rgba(255,104,3,1) 100%);
    font-family: 'Roboto';
    border: 0;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 1rem 2.2rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn-features:hover {
    box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
}