#home {
    margin: 0;
    
    .container-home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
     
    }
    
    .home-text {
       font-size: 49px;
       text-align: left;
       font-weight: bold;
       line-height: 3.5rem;
       flex-grow: 2;
    
       p {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        text-align: left;
        color: #57647C;
    
    
        }
    }
    
    
    .home-img {
        margin-top: 2rem;
        padding: 0;
    
    }
    
    .btn-home {
        background: rgb(242,55,121);
        background: linear-gradient(90deg, rgba(242,55,121,1) 0%, rgba(255,104,3,1) 50%, rgba(255,104,3,1) 100%);
        font-family: 'Roboto';
        border: 0;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        padding: 1.1rem 2.2rem;
        border-radius: 5px;
        cursor: pointer;
        
    }
}





@media (min-width: 768px) { .container-home { max-width: 768px; }}
@media (min-width: 992px) { .container-home { max-width: 9992px; }}
@media (min-width: 1200px) { .container-home { max-width: 1120px; }}
@media (min-width: 1400px) { .container-home { max-width: 1300px; }}

