#home {
    margin: 0;
}

.container-home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

}

.home-text {
   grid-column: 1/6;
   grid-row: 4/6;
   font-size: 60px;
   font-weight: bold;
   line-height: 4rem;
 
}

.home-img {
    grid-column: 6/13;
    grid-row: 2/11;

}



@media (min-width: 768px) { .container-home { max-width: 718px; }}
@media (min-width: 992px) { .container-home { max-width: 942px; }}
@media (min-width: 1200px) { .container-home { max-width: 1120px; }}
@media (min-width: 1300px) { .container-home { max-width: 1300px; }}

@media (max-width: 780px) { .container-home { grid-template-columns: repeat(12, 1fr); grid-template-rows: repeat(1, 1fr); }}
@media (max-width: 780px) { .home-img { display: none; }}
@media (max-width: 780px) { .home-text{ font-size: 20px; grid-column: 1/13; grid-row: 1/1; text-align: center;}}

@media (max-width: 1700px) { .home-text { grid-column: 1/25; grid-row: 1/2; margin-top: 5rem; text-align: center;}}
@media (max-width: 1700px) { .home-img { grid-column: 3/25; grid-row: 2/9; }}