#home {
        margin: 0;
        padding: 0;
        
    .container-home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .home-text {
       position: absolute;
       z-index: 2;
       font-size: 60px;
       text-align: left;
       font-weight: bold;
       line-height: 4rem;
       flex-grow: 2;
       width: 500px;
    
       p {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        text-align: left;
        color: #57647C;
        }
    }
    
    .home-img {
        position: relative;
        top: 0;
        left: 250px;
        z-index: 1;
        margin-top: 2rem;
        padding: 0;
    }
    
    .btn-home {
        background: rgb(242,55,121);
        background: linear-gradient(90deg, rgba(242,55,121,1) 50%, rgba(255,104,3,1) 100%, rgba(255,166,46,1) 100%);
        font-family: 'Roboto';
        border: 0;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        padding: 1.1rem 2.2rem;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-home:hover {
        box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
    }
}

