#pages {
    margin: 0;
    padding: 0;
}

.container-pages{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    grid-gap: 4rem 1rem;

        p {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 400;
        }
}

.pages-img {
    grid-column: 1/6;
    grid-row: 1/6;
}

.pages-text {
    grid-column: 8/12;
    grid-row: 1/3;
    font-size: 48px;
    font-weight: 900;
    line-height: 3.5rem;    
    margin-left: 2rem;
}

.pages-01 {
    grid-column: 9/12;
    grid-row: 2/3;
    font-size: 24px;
    font-weight: 900;
    margin-left: 2rem;
}

.pages-02 {
    grid-column: 9/12;
    grid-row: 3/4;
    font-size: 24px;
    font-weight: 900;
    margin-left: 2rem;
}

.pages-03 {
    grid-column: 9/12;
    grid-row: 4/5;
    font-size: 24px;
    font-weight: 900;
    margin-left: 2rem;
}

.pages-01-headline {
    grid-column: 8/9;
    grid-row: 2/3;
    font-size: 60px;
    font-weight: 900;
    color: #F23779;
    margin-left: 2rem;
}

.pages-02-headline {
    grid-column: 8/9;
    grid-row: 3/4;
    font-size: 60px;
    font-weight: 900;
    color: #F23779;
    margin-left: 2rem;
}

.pages-03-headline {
    grid-column: 8/9;
    grid-row: 4/5;
    font-size: 60px;
    font-weight: 900;
    color: #F23779;
    margin-left: 2rem;
}