@media (min-width: 768px) { .container-topbar, .container-home, .container-features, .container-pages, .container-contact, .container-blog { max-width: 718px; }}
@media (min-width: 992px) { .container-topbar, .container-home, .container-features, .container-pages, .container-contact, .container-blog { max-width: 942px; }}
@media (min-width: 1200px) { .container-topbar, .container-home, .container-features, .container-pages, .container-contact, .container-blog { max-width: 1120px; }}
@media (min-width: 1400px) { .container-topbar, .container-home, .container-features, .container-pages, .container-contact, .container-blog { max-width: 1200px; }}

@media (max-width: 400px) { .container-topbar { flex-wrap: wrap; align-content: center;}}
@media (max-width: 400px) { .topbar-menu ul> li> a { font-size: 10px;}}
@media (max-width: 400px) { .topbar-logo { flex-grow: 1; text-align: center;}}

@media (max-width: 400px) { .container-home { flex-direction: wrap;}}
@media (max-width: 400px) { .home-img { display: none;}}
@media (max-width: 400px) { .home-text { font-size: 22px !important; margin-top: 180px; text-align: center !important; width: 375px !important; line-height: 2rem;}}
@media (max-width: 400px) { .home-text> p { font-size: 12px !important; text-align: center !important; margin-top: 0rem !important; margin-bottom: 0rem !important; line-height: 1.2rem !important;}}
@media (max-width: 400px) { .btn-home { font-size: 8px !important; padding: 0.7rem 1rem !important;}}


@media (max-width: 400px) { .container-features { grid-template-columns: repeat(2, 1fr) !important; grid-template-rows: repeat(4, 250px 5px 190px 190px) !important; grid-gap: 1rem 0rem !important; margin-top: 190px !important; margin-bottom: 0rem !important;}}
@media (max-width: 400px) { .features-text { grid-column: 1/3 !important; grid-row: 1/2 !important; font-size: 22px !important; text-align: center; line-height: 2rem !important; margin-top: 2rem !important; margin-bottom: 2rem !important;}}
@media (max-width: 400px) { .container-features p { font-size: 12px !important; text-align: center !important; margin-top: 1rem !important; margin-bottom: 1rem !important; margin-right: 1rem; margin-left: 1rem; line-height: 1.2rem !important;}}
@media (max-width: 400px) { .features-page { grid-column: 1/2 !important; grid-row: 3/4 !important; text-align: center; font-size: 15px !important; margin-bottom: 0rem !important;}} 
@media (max-width: 400px) { .features-site { grid-column: 2/3 !important; grid-row: 3/4 !important; text-align: center; font-size: 15px !important; margin-bottom: 0rem !important;}} 
@media (max-width: 400px) { .features-global { grid-column: 1/2 !important; grid-row: 4/5 !important; text-align: center; font-size: 15px !important; margin-bottom: 0rem !important;}} 
@media (max-width: 400px) { .features-safe { grid-column: 2/3 !important; grid-row: 4/5 !important; text-align: center; font-size: 15px !important; margin-bottom: 0rem !important;}} 
@media (max-width: 400px) { .btn-features { font-size: 8px !important; padding: 0.7rem 1rem !important;}}

@media (max-width: 400px) { .container-pages { grid-template-columns: repeat(4, 90px) !important; grid-template-rows: repeat(4, 1fr) !important; grid-gap: 0rem 0rem !important; margin-top: -128rem !important;}}
@media (max-width: 400px) { .pages-text { grid-column: 1/5; grid-row: 1/2; font-size: 22px !important; text-align: center; line-height: 2rem !important; margin-top: 2rem !important; margin-bottom: 2rem !important;}}
@media (max-width: 400px) { .container-pages p { font-size: 12px !important; }}
@media (max-width: 400px) { .pages-01-headline { grid-column: 1/2; grid-row: 2/3 !important; font-size: 22px !important; }}
@media (max-width: 400px) { .pages-02-headline { grid-column: 1/2; grid-row: 3/4 !important; font-size: 22px !important; }}
@media (max-width: 400px) { .pages-03-headline { grid-column: 1/2; grid-row: 4/5 !important; font-size: 22px !important; }}
@media (max-width: 400px) { .pages-01 { grid-column: 2/5; grid-row: 2/3; font-size: 15px !important; }}
@media (max-width: 400px) { .pages-02 { grid-column: 2/5; grid-row: 3/4; font-size: 15px !important; }}
@media (max-width: 400px) { .pages-03 { grid-column: 2/5; grid-row: 4/5; font-size: 15px !important; }}
@media (max-width: 400px) { .pages-img { display: none; }}

@media (max-width: 400px) { .container-contact { grid-template-columns: 10px 85px 85px 85px 85px 10px !important; grid-template-rows: repeat(4, 1fr) !important; margin-top: 0rem !important; grid-gap: 0rem 0rem !important; background-position: 50% -130% !important;}}
@media (max-width: 400px) { .contact-headline { grid-column: 2/6 !important; grid-row: 1/2 !important; font-size: 22px !important; line-height: 2rem !important; text-align: center !important;}}
@media (max-width: 400px) { .contact-text { grid-column: 2/6 !important; grid-row: 2/3 !important; font-size: 12px !important; line-height: 1.2rem !important;}}
@media (max-width: 400px) { .contact-downloaded { grid-column: 2/3 !important; grid-row: 3/4 !important; font-size: 18px !important;}}
@media (max-width: 400px) { .contact-feedback { grid-column: 3/4 !important; grid-row: 3/4 !important; font-size: 18px !important;}}
@media (max-width: 400px) { .contact-workers { grid-column: 4/5 !important; grid-row: 3/4 !important; font-size: 18px !important;}}
@media (max-width: 400px) { .contact-contributors { grid-column: 5/6 !important; grid-row: 3/4 !important; font-size: 18px !important;}}
@media (max-width: 400px) { .contact-box { grid-column: 2/7 !important; grid-row: 4/5 !important; font-size: 18px !important; padding: 1rem 1rem !important; font-size: 12px !important; justify-content: space-between !important;}}
@media (max-width: 400px) { .btn-contact { font-size: 8px !important; padding: 0.7rem 1rem !important;}}
@media (max-width: 400px) { .container-contact p { font-size: 12px !important; }}









@media (min-width: 768px) { .container-topbar { flex-wrap: wrap; align-content: center;}}
@media (min-width: 768px) { .topbar-menu ul> li> a { font-size: 15px;}}




@media (max-width: 1400px) { .btn-topbar { display: none; }}
@media (max-width: 1400px) { .topbar-search { display: none; }}