@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', 'Roboto', sans-serif; 
    color: #252525;
}

.border {
    border: 1px solid black;
}