#topbar {
    background-color: rgb(248, 249, 254, 0.85);
    list-style: none;
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
    
    .container-topbar { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        border-bottom: 1px solid #E0E3EA;
        padding: 1rem;
    }   

    .topbar-logo {
        margin: 0;
        padding: 0;
    }

    .topbar-text {
        font-weight: 900;
        font-size: 30px;
        flex-grow: 1;
    }

    .topbar-menu ul{
        display: flex;
        list-style: none;
    
        > li {
            padding: 0 1.5rem;
            font-family: 'Roboto';
            font-size: 1.063rem;
            font-weight: bold;
    
            & a {
                color: #252525;
                text-decoration: none;
            }
    
            a:hover {
                color: #FF6803;

            }
        }

        .topbar-search {
            margin-top: 8px;
            padding: 0;
        }
    }

    .btn-topbar {
        background-color: transparent;
        border: 1px solid #FF6803;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 17px;
        padding: 0.6rem 1.5rem;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 1.5rem;
    }

    .btn-topbar:hover {
        background-color: #FF6803;
        box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
    }
}