@import "./mixin";

#pages {
    margin: 0;
    padding: 0;
}

.container-pages {
    @include grid;
    font-family: $poppins;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 10rem;
    grid-gap: 7rem 1rem;

        @include for-mobile {
            grid-template-columns: repeat(4, 90px);
            grid-template-rows: repeat(4, 1fr);
            grid-gap: 0rem 0rem;
            margin-top: -128rem;
        }

        @include for-tablet {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-gap: 1rem 0rem;
            margin-top: -85rem;
        }

        p {
            @include p;

            @include for-mobile {
                font-size: 12px;
            }

            @include for-tablet {
                font-size: 17px;
            }

        }
}

.pages-img {
    margin-top: 5rem;
    grid-column: 1/6;
    grid-row: 1/5 ;
    
    @include for-mobile {
        display: none;
    }

    @include for-tablet {
        display: none;
    }
}

.pages-text {
    grid-column: 8/12;
    grid-row: 1/3;
    font-size: 48px;
    font-weight: 900;
    line-height: 3.5rem;    
    margin-left: 2rem;

    @include for-mobile {
        grid-column: 1/5;
        grid-row: 1/2;
        font-size: 25px;
        text-align: center;
        line-height: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    @include for-tablet {
        grid-column: 1/5;
        grid-row: 1/2;
        font-size: 35px;
        text-align: center;
        line-height: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem ;
        margin-right: 2rem;
    }
}

.pages-01 {
    grid-column: 9/12;
    grid-row: 2/3;
    font-size: 24px;
    font-weight: 900;
    margin-left: 2rem;

    @include for-mobile {
        grid-column: 2/5;
        grid-row: 2/3;
        font-size: 20px;
    }

    @include for-tablet {
        grid-column: 2/5;
        grid-row: 2/3;
        font-size: 25px;
    }
}

.pages-02 {
    grid-column: 9/12;
    grid-row: 3/4;
    font-size: 24px;
    font-weight: 900;
    margin-left: 2rem;

    @include for-mobile {
        grid-column: 2/5;
        grid-row: 3/4;
        font-size: 20px;
    }

    @include for-tablet {
        grid-column: 2/5;
        grid-row: 3/4;
        font-size: 25px;
    }
}

.pages-03 {
    grid-column: 9/12;
    grid-row: 4/5;
    font-size: 24px;
    font-weight: 900;
    margin-left: 2rem;

    @include for-mobile {
        grid-column: 2/5;
        grid-row: 4/5;
        font-size: 20px;
    }

    @include for-tablet {
        grid-column: 2/5;
        grid-row: 4/5;
        font-size: 25px;
    }
}

.pages-01-headline {
    grid-column: 8/9;
    grid-row: 2/3;
    font-size: 60px;
    font-weight: 900;
    color: $red;
    margin-left: 2rem;

    @include for-mobile {
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 30px;
    }

    @include for-tablet {
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 35px;
        text-align: right;
    }
}

.pages-02-headline {
    grid-column: 8/9;
    grid-row: 3/4;
    font-size: 60px;
    font-weight: 900;
    color: $red;
    margin-left: 2rem;

    @include for-mobile {
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 30px;
    }

    @include for-tablet {
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 35px;
        text-align: right;
    }
}

.pages-03-headline {
    grid-column: 8/9;
    grid-row: 4/5;
    font-size: 60px;
    font-weight: 900;
    color: $red;
    margin-left: 2rem;

    @include for-mobile {
        grid-column: 1/2;
        grid-row: 4/5;
        font-size: 30px;
    }

    @include for-tablet {
        grid-column: 1/2;
        grid-row: 4/5;
        font-size: 35px;
        text-align: right;
    }
}