* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.box {
    border: 2px solid #66CAA9;
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    border-radius: 20%;

    /* Har bara med innehållet att göra */
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent {
    border: 2px solid black;
    background-color: lightpink;
    height: 400px;
    width: 400px;
    
    position: relative;
    position: sticky;
    top:0;
    left:0;
}

#child-1 {
    background-color: maroon;
    position: static;
    position: relative;
    position: sticky;  
    position: absolute; 
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#child-2 {

}