.grid-container {
    background-color: rgb(0, 0, 0);
    display: grid;
    margin: 1em;
    grid-gap: 2em;
    align-content: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat (3, 1fr);
    justify-content: center;
}

.item1 {
    background-color: #CACACA;
    text-align: start;
    padding: 1em;
    grid-column: 2/12;
}

.item2 {
    background-color: aqua;
    text-align: end;
    padding: 1em;
    grid-column: 1/4;
}

.item3 {
    background-color: burlywood;
    text-align: end;
    padding: 1em;
    grid-column: 4/7;

}

.item4 {
    background-color: chocolate;
    text-align: end;
    padding: 1em;
    grid-column: 1/3;

}

.item5 {
    background-color: rgb(71, 22, 65);
    text-align: end;
    padding: 1em;
    grid-column: 3/7;

}

.item6 {
    background-color: rgb(194, 178, 34);
    text-align: end;
    padding: 1em;
    grid-column: 1/7;

}