.border {
    border-bottom: 10px solid gray;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}



@media (min-width: 576px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 1320px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1920px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 2048px;
    }
}