@import "./mixin";

#contact {
    margin: 0;
    padding: 0;

    .container-contact {
        @include grid;
        font-family: $poppins;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin-top: 10rem;
        grid-gap: 1rem 0rem;
        background-image: $bg-image;
        background-repeat: no-repeat;
        background-position: 50% 100%;
        text-align: center;

            @include for-mobile {
            grid-template-columns: 10px 85px 85px 85px 85px 10px;
            grid-template-rows: 100px 100px 100px 80px;
            margin-top: 0rem;
            grid-gap: 0rem 0rem;
            background-position: 50% 700%;
        }

            @include for-tablet {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            margin-top: 5rem;
            grid-gap: 0rem 0rem;
            background-position: 50% 120%;
        }

            @include for-tablet {}
            p {
                @include p;

                @include for-mobile {
                    font-size: 12px;
                    margin: 0rem;
                }

                @include for-tablet {
                    font-size: 17px;
                }
            }
    }

    .contact-headline {
        grid-column: 3/8;
        grid-row: 1/3;
        font-size: 48px;
        font-weight: 900;
        line-height: 3.5rem;

        @include for-mobile {
            grid-column: 2/6;
            grid-row: 1/2;
            font-size: 25px;
            line-height: 2rem;
            text-align: center;
            margin-top: 2rem;
        }

        @include for-tablet {
            grid-column: 1/5;
            grid-row: 1/2;
            font-size: 35px;
            line-height: 2rem;
            text-align: center;
            margin-top: 2rem;
        }
    }

    .contact-text {
        grid-column: 3/8;
        grid-row: 2/3;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #57647C;

        @include for-mobile {
            grid-column: 2/6;
            grid-row: 2/3;
            font-size: 12px;
            line-height: 1.2rem;
        }

        @include for-tablet {
            grid-column: 2/4;
            grid-row: 2/3;
            font-size: 17px;
            line-height: 1.2rem;
        }
    }

    .contact-downloaded {
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 42px;
        color: $red;
        font-weight: 600;

        @include for-mobile {
            grid-column: 2/3;
            grid-row: 3/4;
            font-size: 25px;
        }

        @include for-tablet {
            grid-column: 1/2;
            grid-row: 3/4;
            font-size: 35px;
        }
    }

    .contact-feedback {
        grid-column: 4/5;
        grid-row: 3/4;
        font-size: 42px;
        color: $red;
        font-weight: 600;

        @include for-mobile {
            grid-column: 3/4;
            grid-row: 3/4;
            font-size: 25px;
        }

        @include for-tablet {
            grid-column: 2/3 ;
            grid-row: 3/4;
            font-size: 35px;
        }
    }

    .contact-workers {
        grid-column: 6/7;
        grid-row: 3/4;
        font-size: 42px;
        color: $red;
        font-weight: 600;

        @include for-mobile {
            grid-column: 4/5;
            grid-row: 3/4;
            font-size: 25px;
        }

        @include for-tablet {
            grid-column: 3/4;
            grid-row: 3/4;
            font-size: 35px;
        }
    }

    .contact-contributors {
        grid-column: 8/9;
        grid-row: 3/4;
        font-size: 42px;
        color: $red;
        font-weight: 600;

        @include for-mobile {
            grid-column: 5/6;
            grid-row: 3/4;
            font-size: 25px;
        }

        @include for-tablet {
            grid-column: 4/5;
            grid-row: 3/4;
            font-size: 35px;
        }
    }

    .contact-box {
        display: flex;
        justify-content: space-between;
        background: $light;
        border: 1px solid $light;
        border-radius: 10px;
        box-shadow: $box-shadow-contact;
        transition: box-shadow 0.15s ease-in-out;
        background-color: $light;
        grid-column: 3/8;
        grid-row: 4/5;
        font-size: 21px;
        font-weight: 900;
        padding: 2rem;

        @include for-mobile {
            grid-column: 2/7;
            grid-row: 4/5;
            padding: 1rem 1rem;
            font-size: 14px;
            justify-content: space-between;
        }

        @include for-tablet {
            grid-column: 1/5;
            grid-row: 4/5;
            font-size: 18px;
            padding: 2rem 1rem;
            font-size: 17px;
            justify-content: space-between;
            margin-left: 3rem;
            margin-right: 3rem;
        }
    }

    .contact-box:hover {
        box-shadow: $box-shadow;
    }

    .contact-01 {
        margin: 0;
        padding: 0;
        text-align: left;

        @include for-tablet {
            font-size: 25px;
        }
    }
}

.btn-contact {
    @include btn;

    @include for-mobile {
        font-size: 10px;
        padding: 0.7rem 1rem;
        margin-top: 0.5rem;
    }

    @include for-tablet {
        font-size: 15px;
        padding: 0.7rem 1rem;
        margin-top: 0.5rem;
        margin-right: 1rem;
    }
}

.btn-contact:hover {
    box-shadow: $box-shadow;
}