@import "./mixin";


#features {
    margin: 0;
    padding: 0;
    
    .container-features {
        @include grid;
        font-family: $poppins;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2rem 0rem;
        margin-top: 10rem;

        @include for-mobile {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 250px 5px 190px 190px);
            grid-gap: 1rem 0rem;
            margin-top: 210px;
            margin-bottom: 0rem;
        }

        @include for-tablet {
            grid-template-columns: repeat(2, 1fr) ;
            grid-template-rows: repeat(3, 250px 5px 190px 190px);
            grid-gap: 1rem 0rem;
            margin-top: 210px;
            margin-bottom: 0rem;
        }

        @include for-tablet {

        }

        p {
            @include p;
            margin-top: 1rem;
            margin-bottom: 2rem;

            @include for-mobile {
                font-size: 12px;
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
                margin-right: 1rem;
                margin-left: 1rem;
                line-height: 1.2rem;
            }

            @include for-tablet {
                font-size: 17px;
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
                margin-right: 1rem;
                margin-left: 1rem;
                line-height: 1.2rem;
            }
    }
}
    .features-text {
        grid-column: 1/2;
        grid-row: 1/3;
        font-size: 48px;
        font-weight: 900;
        line-height: 3.5rem;
        margin-bottom: 2rem;

        @include for-mobile {
            grid-column: 1/3;
            grid-row: 1/2;
            font-size: 25px;
            text-align: center;
            line-height: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        @include for-tablet {
            grid-column: 1/3;
            grid-row: 1/2;
            font-size: 35px;
            text-align: center;
            line-height: 2rem;
            margin-top: 5rem;
            margin-bottom: 2rem;
        }
}

    .features-page {
        grid-column: 3/4;
        grid-row: 1/2;
        font-size: 22px;
        font-weight: 900;

        @include for-mobile {
            grid-column: 1/2;
            grid-row: 3/4;
            text-align: center;
            font-size: 20px;
            margin-bottom: 0rem;
        }

        @include for-tablet {
            grid-column: 1/2;
            grid-row: 3/4;
            text-align: center;
            font-size: 25px;
            margin-bottom: 0rem;
        }
}

    .features-site {
        grid-column: 5/6;
        grid-row: 1/2;
        font-size: 22px;
        font-weight: 900;

        @include for-mobile {
            grid-column: 2/3;
            grid-row: 3/4;
            text-align: center;
            font-size: 20px;
            margin-bottom: 0rem;
        }

        @include for-tablet {
            grid-column: 2/3;
            grid-row: 3/4;
            text-align: center;
            font-size: 25px ;
            margin-bottom: 0rem;
        }
}

    .features-global {
        grid-column: 3/4;
        grid-row: 2/3;
        font-size: 22px;
        font-weight: 900;

        @include for-mobile {
            grid-column: 1/2;
            grid-row: 4/5;
            text-align: center;
            font-size: 20px;
            margin-bottom: 0rem;
        }

        @include for-tablet {
            grid-column: 1/2;
            grid-row: 4/5;
            text-align: center;
            font-size: 25px;
            margin-bottom: 0rem;
        }
}

    .features-safe {
        grid-column: 5/6;
        grid-row: 2/3;
        font-size: 22px;
        font-weight: 900;

        @include for-mobile {
            grid-column: 2/3;
            grid-row: 4/5;
            text-align: center;
            font-size: 20px;
            margin-bottom: 0rem;
        }

        @include for-tablet {
            grid-column: 2/3;
            grid-row: 4/5;
            text-align: center;
            font-size: 25px;
            margin-bottom: 0rem;
        }
} 
}

.btn-features {
        @include btn;

        @include for-mobile {
            font-size: 10px;
            padding: 0.7rem 1rem;
        }

        @include for-tablet {
            font-size: 15px;
            padding: 0.7rem 1rem;
        }
}

.btn-features:hover {
    box-shadow: $box-shadow;
}