$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

$bgcolor: rgb(248, 249, 254, 0.85);
$bg-image-1: url(../img/BG.png);
$bg-image: url(../img/map.svg);

$box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
$box-shadow-contact: 0 1px 10px 1px rgba(190, 206, 223, 0.411);

$dark: #252525;
$gray: #57647C;
$light-gray: #E0E3EA;
$red: #EE307A;
$orange: #FF6803;
$light-orange: #FC8B53;
$light-blue: #F8F9FE;
$light: #FFFFFF; 