* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: lightcoral;
    border-radius: 50%;
}

.animate {
    position: absolute;
    animation-name: slide-around;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    /* animation: slide-in 2s ease-in-out infinite alternate; */
}

@keyframes slide-in {
    0%      { left: -100px; }
    100%    { left: 100px;}
}

@keyframes slide-around {
    0%      { top: 0; left: 0;}
    25%     { top: 0; left: calc(100% - 100px)}
    50%     { top: calc(100% - 100px); left: calc(100% - 100px); background-color: lightskyblue;}
    75%     { top: calc(100% - 100px); left: 0; background-color: lightgreen;}
    100%    { top: 0; left: 0; background-color: lightyellow;}

}