@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-image: url(../img/BG.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

#topbar {
  background-color: rgba(248, 249, 254, 0.85);
  list-style: none;
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
}
#topbar .container-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
  position: relative;
  border-bottom: 1px solid #E0E3EA;
  padding: 1rem;
}
@media (max-width: 380px) {
  #topbar .container-topbar {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #topbar .container-topbar {
    flex-wrap: wrap;
    align-content: center;
    padding: rem;
  }
}
#topbar .topbar-logo {
  margin: 0;
  padding: 0;
}
@media (max-width: 380px) {
  #topbar .topbar-logo {
    flex-grow: 1;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #topbar .topbar-logo {
    flex-grow: 1;
    text-align: right;
    padding: 1rem;
  }
}
#topbar .topbar-text {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 30px;
  flex-grow: 1;
}
@media (min-width: 768px) and (max-width: 1030px) {
  #topbar .topbar-text {
    font-size: 40px;
  }
}
#topbar .topbar-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
#topbar .topbar-menu ul > li {
  font-family: "Roboto", sans-serif;
  font-size: 1.063rem;
  font-weight: 600;
  color: #252525;
  padding: 0rem 1.5rem;
}
@media (max-width: 380px) {
  #topbar .topbar-menu ul > li {
    padding: 0rem 0.85rem;
  }
}
#topbar .topbar-menu ul > li a {
  color: #252525;
  text-decoration: none;
}
@media (max-width: 380px) {
  #topbar .topbar-menu ul > li a {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #topbar .topbar-menu ul > li a {
    font-size: 18px;
    padding: 0rem 0.8rem;
    text-align: center;
  }
}
#topbar .topbar-menu ul > li a:hover {
  color: #FF6803;
}
#topbar .topbar-search {
  margin-top: 8px;
  padding: 0;
}
@media (max-width: 380px) {
  #topbar .topbar-search {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #topbar .topbar-search {
    display: none;
  }
}
#topbar .btn-topbar {
  background-color: transparent;
  border: 1px solid #FF6803;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1.5rem;
}
@media (max-width: 380px) {
  #topbar .btn-topbar {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #topbar .btn-topbar {
    display: none;
  }
}
#topbar .btn-topbar:hover {
  background-color: #FF6803;
  box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
}

#home {
  margin: 0;
  padding: 0;
}
#home .container-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 380px) {
  #home .container-home {
    flex-direction: wrap;
  }
}
#home .home-text {
  position: absolute;
  z-index: 2;
  font-size: 60px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  line-height: 4rem;
  flex-grow: 2;
  width: 500px;
}
@media (max-width: 380px) {
  #home .home-text {
    font-size: 30px;
    margin-top: 200px;
    text-align: center;
    width: 347px;
    line-height: 2rem;
    margin-left: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #home .home-text {
    font-size: 40px;
    margin-top: 210px;
    text-align: center;
    width: 700px;
    line-height: 2rem;
    margin-left: 1rem;
  }
}
#home .home-text p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  color: #57647C;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 380px) {
  #home .home-text p {
    font-size: 12px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.2rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #home .home-text p {
    font-size: 17px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.2rem;
  }
}
#home .home-img {
  position: relative;
  top: 0;
  left: 550px;
  z-index: 1;
  margin-top: 2rem;
  padding: 0;
}
@media (max-width: 380px) {
  #home .home-img {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #home .home-img {
    display: none;
  }
}
#home .btn-home {
  background: #EE307A;
  background: linear-gradient(90deg, #EE307A 50%, #FF6803 100%, #FC8B53 100%);
  font-family: "Roboto", sans-serif;
  border: 0;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  padding: 1.1rem 2.2rem;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 380px) {
  #home .btn-home {
    font-size: 10px;
    padding: 0.7rem 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #home .btn-home {
    font-size: 15px;
    padding: 0.7rem 1rem;
  }
}
#home .btn-home:hover {
  box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
}

#features {
  margin: 0;
  padding: 0;
}
#features .container-features {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem 0rem;
  margin-top: 10rem;
}
@media (max-width: 380px) {
  #features .container-features {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 250px 5px 190px 190px);
    grid-gap: 1rem 0rem;
    margin-top: 210px;
    margin-bottom: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #features .container-features {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 250px 5px 190px 190px);
    grid-gap: 1rem 0rem;
    margin-top: 210px;
    margin-bottom: 0rem;
  }
}
#features .container-features p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  color: #57647C;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
@media (max-width: 380px) {
  #features .container-features p {
    font-size: 12px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    line-height: 1.2rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #features .container-features p {
    font-size: 17px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    line-height: 1.2rem;
  }
}
#features .features-text {
  grid-column: 1/2;
  grid-row: 1/3;
  font-size: 48px;
  font-weight: 900;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}
@media (max-width: 380px) {
  #features .features-text {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 25px;
    text-align: center;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #features .features-text {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 35px;
    text-align: center;
    line-height: 2rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
}
#features .features-page {
  grid-column: 3/4;
  grid-row: 1/2;
  font-size: 22px;
  font-weight: 900;
}
@media (max-width: 380px) {
  #features .features-page {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    font-size: 20px;
    margin-bottom: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #features .features-page {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    font-size: 25px;
    margin-bottom: 0rem;
  }
}
#features .features-site {
  grid-column: 5/6;
  grid-row: 1/2;
  font-size: 22px;
  font-weight: 900;
}
@media (max-width: 380px) {
  #features .features-site {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    font-size: 20px;
    margin-bottom: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #features .features-site {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    font-size: 25px;
    margin-bottom: 0rem;
  }
}
#features .features-global {
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: 22px;
  font-weight: 900;
}
@media (max-width: 380px) {
  #features .features-global {
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: center;
    font-size: 20px;
    margin-bottom: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #features .features-global {
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: center;
    font-size: 25px;
    margin-bottom: 0rem;
  }
}
#features .features-safe {
  grid-column: 5/6;
  grid-row: 2/3;
  font-size: 22px;
  font-weight: 900;
}
@media (max-width: 380px) {
  #features .features-safe {
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: center;
    font-size: 20px;
    margin-bottom: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #features .features-safe {
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: center;
    font-size: 25px;
    margin-bottom: 0rem;
  }
}

.btn-features {
  background: #EE307A;
  background: linear-gradient(90deg, #EE307A 50%, #FF6803 100%, #FC8B53 100%);
  font-family: "Roboto", sans-serif;
  border: 0;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  padding: 1.1rem 2.2rem;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 380px) {
  .btn-features {
    font-size: 10px;
    padding: 0.7rem 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  .btn-features {
    font-size: 15px;
    padding: 0.7rem 1rem;
  }
}

.btn-features:hover {
  box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
}

#pages {
  margin: 0;
  padding: 0;
}

.container-pages {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 10rem;
  grid-gap: 7rem 1rem;
}
@media (max-width: 380px) {
  .container-pages {
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0rem 0rem;
    margin-top: -128rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  .container-pages {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem 0rem;
    margin-top: -85rem;
  }
}
.container-pages p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  color: #57647C;
}
@media (max-width: 380px) {
  .container-pages p {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  .container-pages p {
    font-size: 17px;
  }
}

.pages-img {
  margin-top: 5rem;
  grid-column: 1/6;
  grid-row: 1/5;
}
@media (max-width: 380px) {
  .pages-img {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  .pages-img {
    display: none;
  }
}

.pages-text {
  grid-column: 8/12;
  grid-row: 1/3;
  font-size: 48px;
  font-weight: 900;
  line-height: 3.5rem;
  margin-left: 2rem;
}
@media (max-width: 380px) {
  .pages-text {
    grid-column: 1/5;
    grid-row: 1/2;
    font-size: 25px;
    text-align: center;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  .pages-text {
    grid-column: 1/5;
    grid-row: 1/2;
    font-size: 35px;
    text-align: center;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
}

.pages-01 {
  grid-column: 9/12;
  grid-row: 2/3;
  font-size: 24px;
  font-weight: 900;
  margin-left: 2rem;
}
@media (max-width: 380px) {
  .pages-01 {
    grid-column: 2/5;
    grid-row: 2/3;
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  .pages-01 {
    grid-column: 2/5;
    grid-row: 2/3;
    font-size: 25px;
  }
}

.pages-02 {
  grid-column: 9/12;
  grid-row: 3/4;
  font-size: 24px;
  font-weight: 900;
  margin-left: 2rem;
}
@media (max-width: 380px) {
  .pages-02 {
    grid-column: 2/5;
    grid-row: 3/4;
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  .pages-02 {
    grid-column: 2/5;
    grid-row: 3/4;
    font-size: 25px;
  }
}

.pages-03 {
  grid-column: 9/12;
  grid-row: 4/5;
  font-size: 24px;
  font-weight: 900;
  margin-left: 2rem;
}
@media (max-width: 380px) {
  .pages-03 {
    grid-column: 2/5;
    grid-row: 4/5;
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  .pages-03 {
    grid-column: 2/5;
    grid-row: 4/5;
    font-size: 25px;
  }
}

.pages-01-headline {
  grid-column: 8/9;
  grid-row: 2/3;
  font-size: 60px;
  font-weight: 900;
  color: #EE307A;
  margin-left: 2rem;
}
@media (max-width: 380px) {
  .pages-01-headline {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  .pages-01-headline {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 35px;
    text-align: right;
  }
}

.pages-02-headline {
  grid-column: 8/9;
  grid-row: 3/4;
  font-size: 60px;
  font-weight: 900;
  color: #EE307A;
  margin-left: 2rem;
}
@media (max-width: 380px) {
  .pages-02-headline {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  .pages-02-headline {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 35px;
    text-align: right;
  }
}

.pages-03-headline {
  grid-column: 8/9;
  grid-row: 4/5;
  font-size: 60px;
  font-weight: 900;
  color: #EE307A;
  margin-left: 2rem;
}
@media (max-width: 380px) {
  .pages-03-headline {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  .pages-03-headline {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 35px;
    text-align: right;
  }
}

#contact {
  margin: 0;
  padding: 0;
}
#contact .container-contact {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 10rem;
  grid-gap: 1rem 0rem;
  background-image: url(../img/map.svg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  text-align: center;
}
@media (max-width: 380px) {
  #contact .container-contact {
    grid-template-columns: 10px 85px 85px 85px 85px 10px;
    grid-template-rows: 100px 100px 100px 80px;
    margin-top: 0rem;
    grid-gap: 0rem 0rem;
    background-position: 50% 700%;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #contact .container-contact {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 5rem;
    grid-gap: 0rem 0rem;
    background-position: 50% 120%;
  }
}
#contact .container-contact p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  color: #57647C;
}
@media (max-width: 380px) {
  #contact .container-contact p {
    font-size: 12px;
    margin: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #contact .container-contact p {
    font-size: 17px;
  }
}
#contact .contact-headline {
  grid-column: 3/8;
  grid-row: 1/3;
  font-size: 48px;
  font-weight: 900;
  line-height: 3.5rem;
}
@media (max-width: 380px) {
  #contact .contact-headline {
    grid-column: 2/6;
    grid-row: 1/2;
    font-size: 25px;
    line-height: 2rem;
    text-align: center;
    margin-top: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #contact .contact-headline {
    grid-column: 1/5;
    grid-row: 1/2;
    font-size: 35px;
    line-height: 2rem;
    text-align: center;
    margin-top: 2rem;
  }
}
#contact .contact-text {
  grid-column: 3/8;
  grid-row: 2/3;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #57647C;
}
@media (max-width: 380px) {
  #contact .contact-text {
    grid-column: 2/6;
    grid-row: 2/3;
    font-size: 12px;
    line-height: 1.2rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #contact .contact-text {
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: 17px;
    line-height: 1.2rem;
  }
}
#contact .contact-downloaded {
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 42px;
  color: #EE307A;
  font-weight: 600;
}
@media (max-width: 380px) {
  #contact .contact-downloaded {
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #contact .contact-downloaded {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 35px;
  }
}
#contact .contact-feedback {
  grid-column: 4/5;
  grid-row: 3/4;
  font-size: 42px;
  color: #EE307A;
  font-weight: 600;
}
@media (max-width: 380px) {
  #contact .contact-feedback {
    grid-column: 3/4;
    grid-row: 3/4;
    font-size: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #contact .contact-feedback {
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 35px;
  }
}
#contact .contact-workers {
  grid-column: 6/7;
  grid-row: 3/4;
  font-size: 42px;
  color: #EE307A;
  font-weight: 600;
}
@media (max-width: 380px) {
  #contact .contact-workers {
    grid-column: 4/5;
    grid-row: 3/4;
    font-size: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #contact .contact-workers {
    grid-column: 3/4;
    grid-row: 3/4;
    font-size: 35px;
  }
}
#contact .contact-contributors {
  grid-column: 8/9;
  grid-row: 3/4;
  font-size: 42px;
  color: #EE307A;
  font-weight: 600;
}
@media (max-width: 380px) {
  #contact .contact-contributors {
    grid-column: 5/6;
    grid-row: 3/4;
    font-size: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #contact .contact-contributors {
    grid-column: 4/5;
    grid-row: 3/4;
    font-size: 35px;
  }
}
#contact .contact-box {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 1px 10px 1px rgba(190, 206, 223, 0.411);
  transition: box-shadow 0.15s ease-in-out;
  background-color: #FFFFFF;
  grid-column: 3/8;
  grid-row: 4/5;
  font-size: 21px;
  font-weight: 900;
  padding: 2rem;
}
@media (max-width: 380px) {
  #contact .contact-box {
    grid-column: 2/7;
    grid-row: 4/5;
    padding: 1rem 1rem;
    font-size: 14px;
    justify-content: space-between;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #contact .contact-box {
    grid-column: 1/5;
    grid-row: 4/5;
    font-size: 18px;
    padding: 2rem 1rem;
    font-size: 17px;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
#contact .contact-box:hover {
  box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
}
#contact .contact-01 {
  margin: 0;
  padding: 0;
  text-align: left;
}
@media (min-width: 768px) and (max-width: 1030px) {
  #contact .contact-01 {
    font-size: 25px;
  }
}

.btn-contact {
  background: #EE307A;
  background: linear-gradient(90deg, #EE307A 50%, #FF6803 100%, #FC8B53 100%);
  font-family: "Roboto", sans-serif;
  border: 0;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  padding: 1.1rem 2.2rem;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 380px) {
  .btn-contact {
    font-size: 10px;
    padding: 0.7rem 1rem;
    margin-top: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  .btn-contact {
    font-size: 15px;
    padding: 0.7rem 1rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
  }
}

.btn-contact:hover {
  box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
}

#blog {
  margin: 0;
  padding: 0;
}
#blog .container-blog {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1rem 3rem;
  margin-top: 10rem;
}
@media (max-width: 380px) {
  #blog .container-blog {
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(22, 80px);
    margin-top: 5rem;
    grid-gap: 0rem 0rem;
    margin-left: 0.2rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #blog .container-blog {
    padding: 0rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 80px);
    margin-top: 5rem;
    grid-gap: 0rem 2rem;
  }
}
#blog .container-blog p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  color: #57647C;
  text-align: left;
}
@media (max-width: 380px) {
  #blog .container-blog p {
    font-size: 12px;
    padding: 0.5rem 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #blog .container-blog p {
    font-size: 17px;
    padding: 0.5rem 0rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
    margin-right: 2rem;
    text-align: left;
  }
}
#blog .blog-headline {
  grid-column: 2/9;
  grid-row: 1/3;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  line-height: 3.5rem;
}
@media (max-width: 380px) {
  #blog .blog-headline {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 25px;
    line-height: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #blog .blog-headline {
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 35px;
    line-height: 2rem;
  }
}
#blog .blog-text {
  grid-column: 3/8;
  grid-row: 2/3;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #57647C;
  text-align: center;
}
@media (max-width: 380px) {
  #blog .blog-text {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #blog .blog-text {
    grid-column: 1/4;
    grid-row: 2/3;
    font-size: 17px;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
#blog .blog-box-text {
  padding: 1rem 1rem;
  padding-bottom: 2rem;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.8rem;
}
@media (max-width: 380px) {
  #blog .blog-box-text {
    font-size: 20px;
    line-height: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #blog .blog-box-text {
    font-size: 25px;
    line-height: 1.5rem;
  }
}
#blog .blog-box-text p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  color: #57647C;
  margin-top: 0rem;
  margin-bottom: 2rem;
}
@media (max-width: 380px) {
  #blog .blog-box-text p {
    font-size: 12px;
    text-align: left;
  }
}
#blog .blog-box-text span {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #FF6803;
  font-weight: 400;
}
@media (max-width: 380px) {
  #blog .blog-box-text span {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #blog .blog-box-text span {
    font-size: 15px;
  }
}
#blog .blog-box-01 {
  background: #FFFFFF;
  border: 0px solid #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 1px 10px 1px rgba(190, 206, 223, 0.411);
  transition: box-shadow 0.15s ease-in-out;
  background-color: #FFFFFF;
  font-size: 21px;
  font-weight: 900;
  padding: 0rem;
  margin: 0rem;
  grid-column: 1/4;
  grid-row: 4/11;
}
@media (max-width: 380px) {
  #blog .blog-box-01 {
    grid-column: 1/2;
    grid-row: 3/9;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #blog .blog-box-01 {
    grid-column: 1/2;
    grid-row: 3/10;
  }
}
#blog .blog-box-02 {
  background: #FFFFFF;
  border: 0px solid #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 1px 10px 1px rgba(190, 206, 223, 0.411);
  transition: box-shadow 0.15s ease-in-out;
  background-color: #FFFFFF;
  font-size: 21px;
  font-weight: 900;
  padding: 0rem;
  margin: 0rem;
  grid-column: 4/7;
  grid-row: 4/11;
}
@media (max-width: 380px) {
  #blog .blog-box-02 {
    grid-column: 1/2;
    grid-row: 10/16;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #blog .blog-box-02 {
    grid-column: 2/3;
    grid-row: 3/10;
  }
}
#blog .blog-box-03 {
  background: #FFFFFF;
  border: 0px solid #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 1px 10px 1px rgba(190, 206, 223, 0.411);
  transition: box-shadow 0.15s ease-in-out;
  background-color: #FFFFFF;
  font-size: 21px;
  font-weight: 900;
  padding: 0rem;
  margin: 0rem;
  grid-column: 7/10;
  grid-row: 4/11;
}
@media (max-width: 380px) {
  #blog .blog-box-03 {
    grid-column: 1/2;
    grid-row: 17/23;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #blog .blog-box-03 {
    grid-column: 3/4;
    grid-row: 3/10;
  }
}
#blog .blog-box-01:hover, #blog .blog-box-02:hover, #blog .blog-box-03:hover {
  box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
}

@media (max-width: 380px) {
  #img01, #img02, #img03 {
    width: 340px;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  #img01, #img02, #img03 {
    width: 220px;
  }
}

.btn-blog {
  background: #EE307A;
  background: linear-gradient(90deg, #EE307A 50%, #FF6803 100%, #FC8B53 100%);
  font-family: "Roboto", sans-serif;
  border: 0;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  padding: 1.1rem 2.2rem;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 380px) {
  .btn-blog {
    font-size: 8px;
    padding: 0.7rem 1rem;
    margin-top: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  .btn-blog {
    font-size: 15px;
    padding: 0.7rem 1rem;
  }
}

.btn-blog:hover {
  box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
}

@media (min-width: 768px) {
  .container-topbar,
.container-home,
.container-features,
.container-pages,
.container-contact,
.container-blog {
    max-width: 718px;
  }
}
@media (min-width: 992px) {
  .container-topbar,
.container-home,
.container-features,
.container-pages,
.container-contact,
.container-blog {
    max-width: 942px;
  }
}
@media (min-width: 1200px) {
  .container-topbar,
.container-home,
.container-features,
.container-pages,
.container-contact,
.container-blog {
    max-width: 1120px;
  }
}
@media (min-width: 1400px) {
  .container-topbar,
.container-home,
.container-features,
.container-pages,
.container-contact,
.container-blog {
    max-width: 1250px;
  }
}