* {
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}


.css-grid {
    display: grid;
    grid-gap: 0em;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;

}


.box {
    padding: 1rem;
    text-align: center;
    box-shadow: 3px 3px 3px 1px rgb(187, 187, 187);
}


#box-1 { 
    background-color: lightseagreen;

}

#box-2 { 
    background-color: lightsteelblue;

}

#box-3 { 
    background-color: lightsalmon;

}

#box-4 { 
    background-color: lightslategray;
    
}

#box-5 { 
    background-color: lightyellow;
   
}

#box-6 { 
    background-color: rgb(42, 85, 143);

}

@media screen and (max-width: 780px) {
    .css-grid { grid-template-columns: repeat(3, 1fr); }}

@media screen and (max-width: 380px) {
    .css-grid { grid-template-columns: repeat(2, 1fr); }}