@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

.wrapper {
    background-color: #441515;  
    display: grid;
    grid-gap: 0em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
}

.border {
    border-bottom: 1px solid #C6C6C6 !important;
    border-right: 0px solid #FFF !important;
    border-left: 0px solid #FFF !important;
}

.workinghours {
    background-color: rgb(255, 255, 255);
    grid-column: span 6;
    text-align: center;
    padding: 1.05em;
    font-family: 'Roboto', serif;
    font-size: 16x;
    color: #626262;

}

.workinghours i {
    color: #2BAAEC;
    font-size: 1.1em;
    margin-right: 0.5em;
}

.socialmedia-grid

.socialmedia {
    background-color: rgb(255, 255, 255);
    grid-column: span 6;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 1.05em;
    font-size: 1rem;
    margin-left: 0rem;
    color: #2BAAEC; 

}

.logo {
    background-color: rgb(255, 255, 255);
    grid-column: span 6;

}

.menu {
    background-color: rgb(255, 255, 255);
    grid-column: span 6;

}



@media screen and (max-width: 480px) {

    .workinghours {
        grid-column: span 6;
    }

    .socialmedia {
        grid-column: span 6;
    }

    .logo {
        grid-column: span 12;
    }

    .menu {
        grid-column: span 12;
    }

}