@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,800&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
}

.body, html {
    background-image: url(../bg-2.png), url(../bg.png);
    background-repeat: no-repeat;
    background-position: top;
}

.border {
    border: 1px solid black;
}

.container-top {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    align-items: center;
    margin-top: 1rem;
}

.logo {
    grid-column: 3/5;
    text-align: left;
    font-family: 'Poppins';
    color: #fff;
    font-size: 2.8rem;
    font-weight: 600;
}

.logo span {
    color: #FFBB00;
}

.menu {
    grid-column: 5/11;
    text-align: right;
}

.menu ul li {
    display: inline-block;
    padding: 0 2rem;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.menu button {
    background-color: #fabb1e;
    border: 0px solid transparent;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem 2.2rem;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 2rem;
    font-size: 16px;
}

.menu a {
    position: relative;
    color: #fff;
    text-decoration: none;
  }
  
.menu a:hover {
    color: #FFBB00;
  }

.menu a::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 2.5px;
    bottom: -7px;
    left: 0;
    background-color: #FFBB00;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.2s ease;
  }

.menu a:hover::before {
    transform: scaleX(1.5);
  }

#currentlink {
    color: #FFBB00;
}

.content {
    grid-column: 3/8;
    padding-left: 0rem;
    grid-row-start: 2;
    grid-row-end: 6;
    margin-top: 8rem;

    font-family: 'Poppins bold', sans-serif;
    font-size: 69px;
    font-weight: bold;
    color: #fff;
}

.text {
    grid-column: 3/8;
    grid-row-start: 3;
    grid-row-end: 8;
    font-family: 'Poppins bold', sans-serif;
    font-weight: bold;
    color: #fff;
}

.button-links-1 {
    grid-column: 3/5;
    grid-row-start: 4;
    grid-row-end: 8;
    margin-top: 2rem;
}

.button-links-1 button {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem 2.2rem;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.button-links-2 {
    grid-column: 5/5;
    grid-row-start: 4;
    grid-row-end: 8;
    margin-top: 2rem;
    align-content: center;
    position: relative;
    z-index: 0;
    top: 0px;
    left: -50px;
    right: 0;
    bottom: 0;
}

.button-links-2-text {
    grid-column: 5/5;
    grid-row-start: 4;
    grid-row-end: 8;
    margin-top: 2rem;
    align-content: center;
    position: relative;
    z-index: 0;
    top: 0px;
    left: 10px;
    right: 0;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}


.mobile {
    grid-column: 9/11;
    grid-row-start: 2;
    grid-row-end: 9;
    padding-left: 4rem;
    position: relative;
    z-index: 0;
    top: 0px;
    left: -120px;
    right: 0;
    bottom: 0;

}

.mobile-2 {
    grid-column : 10/11;
    grid-row-start: 2;
    grid-row-end: 8;
    position: relative;
    z-index: -1;
    top: -30px;
    left: 0px;
    right: 0;
    bottom: 0;
}

.container-ec {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    align-items: center;
}

.ec-1 {
    padding: 0 5rem;
}
.ec-2 {
    padding: 0 5rem;
}
.ec-3 {
    padding: 0 5rem;
}
.ec-4 {
    padding: 0 5rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.container h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #000;
    
}