*{

    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html, body {
    font-weight: 400;
    font-size: 26px;
    color:rgb(37, 37, 37);
    line-height: 1.5;
}

.container {
    width: 100%;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    
}

.box {
    text-align: center;
    border: 2px solid black;
}

#parent {
    border: 10px solid green;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#child-1 {
    flex:1;
    border: 1px solid black;
    order: 1;
}

#child-2 {
    flex:1;
    border: 1px solid black;
    order: 3
}

#child-3 {
    flex:1;
    border: 1px solid black;
    order: 2
}


@import url();