* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:rgb(0, 0, 0)
}

.border {
    border: 1px solid #f0f0f0;
}

.container {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content:center;

}

.topmenu {
    background-color: #ffffff;
    color: rgb(58, 58, 58);
    padding: 2px;
    align-self: center
}

.workinghours {
    font-family: Roboto;
    font-size: 16px;
    align-self: center;
}

.mainmenu {
    background-color: #ffffff;
    color: rgb(58, 58, 58);
    padding: 20px;
    margin: 0px;
    
}

.logo {
    align-self: center;
    margin-left: 0px;
    padding: 0px;
}

.menu {
    align-self: center;
    font-family: Roboto slab;
    font-size: 18px;
    margin: 0px;
    padding: 10px;
    
}


