#body-background {
    background: rgb(163, 184, 184) !important;
}

.bg-dark {
    --bs-bg-opacity: 1 !important;
    background-color: rgba(90, 107, 107, var(--bs-bg-opacity)) !important;
  }

  .nav-link {
      color: white !important;
  }

  .nav-link:hover {
      color: black !important;
  }

  ul li a:hover {
    color: white !important;
    background: #A3B8B8 !important;
  }

  .btn-dark:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 0, 0) !important;
    border-color: #000000 !important;
    font-weight: bolder !important;
  }

  .btn-dark {
    color: #fff !important;
    background-color: #277e83 !important;
    border-color: #3b898d  !important;
    font-weight: bolder !important;
}

#card-1 {
    background-image: url("../img/mobile.jpg");
    background-repeat: no-repeat;
    width: 349px;
    height: 444px; /*or your image's height*/
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    #card-1 {
        background-image: url("../img/tablet.jpg");
        width: 693px;
        height: 1024px; /*or your image's height*/
    }
}

@media (min-width: 1400px) {
    #card-1 {
        background-image: url("../img/desktop.jpg");
        width: 1400px;
        height: 1659px; /*or your image's height*/
    }
}