@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,800&family=Roboto:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
}

.body, html {
    background-image: url(../bg-2.png), url(../bg.png);
    background-repeat: no-repeat;
}

.border {
    border: 1px solid black;
}

.container-top {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    align-items: center;
    margin-top: 1rem;
}

.logo {
    text-align: left;
    font-family: 'Poppins';
    color: #fff;
    font-size: 2.8rem;
    font-weight: 600;
    grid-column: 2/4;
    padding-left: 4rem;
}

.logo span {
    color: #FFBB00;
 
    
}

.menu {
    text-align: right;
    grid-column: 5/12;
    padding-right: 4rem;
}

.menu ul li {
    display: inline-block;
    padding: 0 1.5rem;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.menu button {
    background-color: #fabb1e;
    border: 0px solid transparent;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem 2.2rem;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 2rem;
    font-size: 16px;
}

.menu a {
    position: relative;
    color: #fff;
    text-decoration: none;
  }
  
.menu a:hover {
    color: #FFBB00;
  }

.menu a::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 2.5px;
    bottom: -7px;
    left: 0;
    background-color: #FFBB00;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.2s ease;
  }

.menu a:hover::before {
    transform: scaleX(1.5);
  }

#currentlink {
    color: #FFBB00;
}

.content {
    grid-column: 2/8;
    padding-left: 4rem;
    grid-row-start: 2;
    grid-row-end: 6;

}


.mobile {
    grid-column: 8/12;
    grid-row-start: 2;
    grid-row-end: 8;
    padding-left: 4rem;
}