@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: "Poppins", sans-serif;
  color: #252525;
  background-image: url(../BG.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.border {
  border: 1px solid black;
}

#topbar {
  background-color: transparent;
  list-style: none;
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
}
#topbar .container-topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-bottom: 1px solid #E0E3EA;
  padding: 1rem;
}
#topbar .topbar-logo {
  margin: 0;
  padding: 0;
}
#topbar .topbar-text {
  font-weight: 900;
  font-size: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
#topbar .topbar-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
#topbar .topbar-menu ul > li {
  padding: 0 1.8rem;
  font-family: "Roboto";
  font-size: 1.063rem;
  font-weight: bold;
}
#topbar .topbar-menu ul > li a {
  color: #252525;
  text-decoration: none;
}
#topbar .topbar-menu ul > li a:hover {
  color: #FF6803;
}
#topbar .topbar-menu ul .topbar-search {
  margin-top: 8px;
  padding: 0;
}
#topbar .btn-topbar {
  background-color: transparent;
  border: 1px solid #FF6803;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 17px;
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1.5rem;
}
#topbar .btn-topbar:hover {
  background-color: #FF6803;
}

#home {
  margin: 0;
  padding: 0;
}
#home .container-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}
#home .home-text {
  position: absolute;
  z-index: 2;
  font-size: 60px;
  text-align: left;
  font-weight: bold;
  line-height: 4rem;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 500px;
}
#home .home-text p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: left;
  color: #57647C;
}
#home .home-img {
  position: relative;
  top: 0;
  left: 250px;
  z-index: 1;
  margin-top: 2rem;
  padding: 0;
}
#home .btn-home {
  background: #f23779;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f23779), color-stop(100%, #ff6803), to(#ffa62e));
  background: linear-gradient(90deg, #f23779 50%, #ff6803 100%, #ffa62e 100%);
  font-family: "Roboto";
  border: 0;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 1.1rem 2.2rem;
  border-radius: 5px;
  cursor: pointer;
}
#home .btn-home:hover {
  -webkit-box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
          box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
}

#features .container-features {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem 0rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}
#features .container-features p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
#features .features-text {
  grid-column: 1/2;
  grid-row: 1/3;
  font-size: 48px;
  font-weight: 900;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}
#features .features-page {
  grid-column: 3/4;
  grid-row: 1/2;
  font-size: 22px;
  font-weight: 900;
}
#features .features-site {
  grid-column: 5/6;
  grid-row: 1/2;
  font-size: 22px;
  font-weight: 900;
}
#features .features-global {
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: 22px;
  font-weight: 900;
}
#features .features-safe {
  grid-column: 5/6;
  grid-row: 2/3;
  font-size: 22px;
  font-weight: 900;
}

.btn-features {
  background: #f23779;
  background: -webkit-gradient(linear, left top, right top, from(#f23779), color-stop(50%, #ff6803), to(#ff6803));
  background: linear-gradient(90deg, #f23779 0%, #ff6803 50%, #ff6803 100%);
  font-family: "Roboto";
  border: 0;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 1rem 2.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-features:hover {
  -webkit-box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
          box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
}

#pages {
  margin: 0;
  padding: 0;
}

.container-pages {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  grid-gap: 4rem 1rem;
}
.container-pages p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.pages-img {
  grid-column: 1/6;
  grid-row: 1/6;
}

.pages-text {
  grid-column: 8/12;
  grid-row: 1/3;
  font-size: 48px;
  font-weight: 900;
  line-height: 3.5rem;
  margin-left: 2rem;
}

.pages-01 {
  grid-column: 9/12;
  grid-row: 2/3;
  font-size: 24px;
  font-weight: 900;
  margin-left: 2rem;
}

.pages-02 {
  grid-column: 9/12;
  grid-row: 3/4;
  font-size: 24px;
  font-weight: 900;
  margin-left: 2rem;
}

.pages-03 {
  grid-column: 9/12;
  grid-row: 4/5;
  font-size: 24px;
  font-weight: 900;
  margin-left: 2rem;
}

.pages-01-headline {
  grid-column: 8/9;
  grid-row: 2/3;
  font-size: 60px;
  font-weight: 900;
  color: #F23779;
  margin-left: 2rem;
}

.pages-02-headline {
  grid-column: 8/9;
  grid-row: 3/4;
  font-size: 60px;
  font-weight: 900;
  color: #F23779;
  margin-left: 2rem;
}

.pages-03-headline {
  grid-column: 8/9;
  grid-row: 4/5;
  font-size: 60px;
  font-weight: 900;
  color: #F23779;
  margin-left: 2rem;
}

#contact {
  margin: 0;
  padding: 0;
}
#contact .container-contact {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  grid-gap: 2rem 0rem;
  background-image: url(../Map.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  text-align: center;
}
#contact .container-contact p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #57647C;
  text-align: center;
}
#contact .contact-headline {
  grid-column: 3/8;
  grid-row: 1/3;
  font-size: 48px;
  font-weight: 900;
  line-height: 3.5rem;
}
#contact .contact-text {
  grid-column: 3/8;
  grid-row: 2/3;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
#contact .contact-downloaded {
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 42px;
  color: #F23779;
  font-weight: 600;
}
#contact .contact-feedback {
  grid-column: 4/5;
  grid-row: 3/4;
  font-size: 42px;
  color: #F23779;
  font-weight: 600;
}
#contact .contact-workers {
  grid-column: 6/7;
  grid-row: 3/4;
  font-size: 42px;
  color: #F23779;
  font-weight: 600;
}
#contact .contact-contributors {
  grid-column: 8/9;
  grid-row: 3/4;
  font-size: 42px;
  color: #F23779;
  font-weight: 600;
}
#contact .contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  border: 1px solid #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 10px 1px rgba(190, 206, 223, 0.411);
          box-shadow: 0 1px 10px 1px rgba(190, 206, 223, 0.411);
  -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  background-color: #fff;
  grid-column: 3/8;
  grid-row: 4/5;
  font-size: 21px;
  font-weight: 900;
  padding: 2rem;
}
#contact .contact-box:hover {
  -webkit-box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
          box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
}
#contact .contact-01 {
  margin: 0;
  padding: 0;
  text-align: left !important;
}

.btn-contact {
  background: #f23779;
  background: -webkit-gradient(linear, left top, right top, from(#f23779), color-stop(50%, #ff6803), to(#ff6803));
  background: linear-gradient(90deg, #f23779 0%, #ff6803 50%, #ff6803 100%);
  font-family: "Roboto";
  border: 0;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 1rem 2.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-contact:hover {
  -webkit-box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
          box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
}

#blog {
  margin: 0;
  padding: 0;
}
#blog .container-blog {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1rem 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}
#blog .container-blog p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #57647C;
  text-align: center;
}
#blog .blog-headline {
  grid-column: 3/8;
  grid-row: 1/3;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  line-height: 3.5rem;
}
#blog .blog-text {
  grid-column: 3/8;
  grid-row: 3/4;
}
#blog .blog-box-text {
  padding: 1rem 2rem;
  padding-bottom: 2rem;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.8rem;
}
#blog .blog-box-text p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #57647C;
  text-align: left;
  padding: 1.5rem 0rem;
}
#blog .blog-box-text span {
  font-size: 14px;
  color: #FF6803;
  font-weight: 400;
}
#blog .blog-box-01 {
  background: white;
  border: 0px solid #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 10px 1px rgba(190, 206, 223, 0.411);
          box-shadow: 0 1px 10px 1px rgba(190, 206, 223, 0.411);
  -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  background-color: #fff;
  grid-column: 1/4;
  grid-row: 4/11;
  font-size: 21px;
  font-weight: 900;
  padding: 0rem;
  margin: 0rem;
}
#blog .blog-box-02 {
  background: white;
  border: 0px solid #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 10px 1px rgba(190, 206, 223, 0.411);
          box-shadow: 0 1px 10px 1px rgba(190, 206, 223, 0.411);
  -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  background-color: #fff;
  grid-column: 4/7;
  grid-row: 4/11;
  font-size: 21px;
  font-weight: 900;
  padding: 0rem;
  margin: 0rem;
}
#blog .blog-box-03 {
  background: white;
  border: 0px solid #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 10px 1px rgba(190, 206, 223, 0.411);
          box-shadow: 0 1px 10px 1px rgba(190, 206, 223, 0.411);
  -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  background-color: #fff;
  grid-column: 7/10;
  grid-row: 4/11;
  font-size: 21px;
  font-weight: 900;
  padding: 0rem;
  margin: 0rem;
}
#blog .blog-box-01:hover, #blog .blog-box-02:hover, #blog .blog-box-03:hover {
  -webkit-box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
          box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
}

.btn-blog {
  background: #f23779;
  background: -webkit-gradient(linear, left top, right top, from(#f23779), color-stop(50%, #ff6803), to(#ff6803));
  background: linear-gradient(90deg, #f23779 0%, #ff6803 50%, #ff6803 100%);
  font-family: "Roboto";
  border: 0;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 1rem 2.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-blog:hover {
  -webkit-box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
          box-shadow: 0 4px 15px 2px rgba(49, 63, 78, 0.411);
}

@media (min-width: 768px) {
  .container-topbar, .container-home, .container-features, .container-pages, .container-contact, .container-blog {
    max-width: 718px;
  }
}
@media (min-width: 992px) {
  .container-topbar, .container-home, .container-features, .container-pages, .container-contact, .container-blog {
    max-width: 942px;
  }
}
@media (min-width: 1200px) {
  .container-topbar, .container-home, .container-features, .container-pages, .container-contact, .container-blog {
    max-width: 1120px;
  }
}
@media (min-width: 1400px) {
  .container-topbar, .container-home, .container-features, .container-pages, .container-contact, .container-blog {
    max-width: 1200px;
  }
}
@media (max-width: 1400px) {
  button {
    display: none;
  }
}
@media (max-width: 1400px) {
  .topbar-search {
    display: none;
  }
}
@media (max-width: 1200px) {
  .topbar-menu ul > li {
    padding: 0 1rem;
  }
}
@media (max-width: 1000px) {
  .container-topbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1000px) {
  .topbar-text {
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}
@media (max-width: 500px) {
  .topbar-menu ul > li {
    font-size: 12px;
    padding: 0 0.7rem;
  }
}