@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: "Poppins", sans-serif;
  color: #252525;
  background-image: url(../BG.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.border {
  border: 1px solid black;
}

#topbar {
  background-color: transparent;
  list-style: none;
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
}
#topbar .container-topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-bottom: 1px solid #E0E3EA;
  padding: 1rem;
}
#topbar .topbar-logo {
  margin: 0;
  padding: 0;
}
#topbar .topbar-text {
  font-weight: 900;
  font-size: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
#topbar .topbar-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
#topbar .topbar-menu ul > li {
  padding: 0 1.8rem;
  font-family: "Roboto";
  font-size: 1.063rem;
  font-weight: bold;
}
#topbar .topbar-menu ul > li a {
  color: #252525;
  text-decoration: none;
}
#topbar .topbar-menu ul > li a:hover {
  color: #FF6803;
}
#topbar .topbar-search {
  margin-top: 8px;
  padding: 0;
}
#topbar .btn-topbar {
  background-color: transparent;
  border: 1px solid #FF6803;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 17px;
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1.5rem;
}
#topbar .btn-topbar:hover {
  background-color: #FF6803;
}
@media (min-width: 768px) {
  #topbar .container-topbar {
    max-width: 718px;
  }
}
@media (min-width: 992px) {
  #topbar .container-topbar {
    max-width: 942px;
  }
}
@media (min-width: 1200px) {
  #topbar .container-topbar {
    max-width: 1120px;
  }
}
@media (min-width: 1400px) {
  #topbar .container-topbar {
    max-width: 1300px;
  }
}
@media (max-width: 1400px) {
  #topbar button {
    display: none;
  }
}
@media (max-width: 1400px) {
  #topbar .topbar-search {
    display: none;
  }
}
@media (max-width: 1200px) {
  #topbar .topbar-menu ul > li {
    padding: 0 1rem;
  }
}
@media (max-width: 1000px) {
  #topbar .container-topbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1000px) {
  #topbar .topbar-text {
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}
@media (max-width: 500px) {
  #topbar .topbar-menu ul > li {
    font-size: 12px;
    padding: 0 0.7rem;
  }
}

#home {
  margin: 0;
}
#home .container-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}
#home .home-text {
  font-size: 49px;
  text-align: left;
  font-weight: bold;
  line-height: 3.5rem;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
#home .home-text p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: left;
  color: #57647C;
}
#home .home-img {
  margin-top: 2rem;
  padding: 0;
}
#home .btn-home {
  background: #f23779;
  background: -webkit-gradient(linear, left top, right top, from(#f23779), color-stop(50%, #ff6803), to(#ff6803));
  background: linear-gradient(90deg, #f23779 0%, #ff6803 50%, #ff6803 100%);
  font-family: "Roboto";
  border: 0;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 1.1rem 2.2rem;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .container-home {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container-home {
    max-width: 9992px;
  }
}
@media (min-width: 1200px) {
  .container-home {
    max-width: 1120px;
  }
}
@media (min-width: 1400px) {
  .container-home {
    max-width: 1300px;
  }
}
#features {
  margin: 0;
  padding: 0;
}

.container-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}
.container-features p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.features-text {
  grid-column: 1/2;
  grid-row: 1/3;
  font-size: 45px;
  font-weight: 900;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

.features-page {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 22px;
  font-weight: 900;
}

.features-site {
  grid-column: 3/4;
  grid-row: 1/2;
  font-size: 22px;
  font-weight: 900;
}

.features-global {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 22px;
  font-weight: 900;
}

.features-safe {
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: 22px;
  font-weight: 900;
}

.btn-features {
  background: #f23779;
  background: -webkit-gradient(linear, left top, right top, from(#f23779), color-stop(50%, #ff6803), to(#ff6803));
  background: linear-gradient(90deg, #f23779 0%, #ff6803 50%, #ff6803 100%);
  font-family: "Roboto";
  border: 0;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 1rem 2.2rem;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .container-features {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container-features {
    max-width: 9992px;
  }
}
@media (min-width: 1200px) {
  .container-features {
    max-width: 1120px;
  }
}
@media (min-width: 1400px) {
  .container-features {
    max-width: 1300px;
  }
}