@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    font-family: 'Roboto', sans-serif !important;
    color: #626262 !important;
}

a {
    color: #2BAAEC
}

a:hover {
    color: #25E6C8
}

#navbar-top {
    border-bottom: 1px solid #C5C5C5 !important;
    height: 50px;
}

#navbar-top .working-hours i {
    color: #2BAAEC !important;
    font-size: 1rem;
    margin-right: 0.8rem;
}

#navbar-top .social-media {
    font-size: 1rem !important;
}

#navbar-top .social-media i {
    margin-left: 1.7rem !important;
}

.navbar-nav .navbar-item .navlink {
    font-size: 18px;
    margin-left: 3rem !important;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #25E6C8 !important;
}

.navbar-nav .nav-item .active {
    color: #25E6C8 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #363636
}

.navbar {
    border-bottom: 1px solid #C5C5C5 !important;
}

#showcase {
    background-color: #DEDEDE;
    height: 700px;
    display: flex;
    align-items: center;
}

#showcase {
    align-items: flex-end;
}

#showcase img {
    margin-top: 1.2rem;
    margin-left: -4rem;
}


#showcase h1 {
    font-family: 'Roboto', sans-serif !important;
    color: #363636;
    font-size: 3,75rem;
}

#showcase p {
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px;
    color: #5e5d5d;
    margin: 30px 0;
}

#showcase button {
    padding: 15px 56px;
    font-family: 'Roboto', sans-serif !important;   
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
}

.border-dark {
    border: 1px solid black
}

.f-1 {
    flex: 1;
    text-align: left;
}

.h-700 {
    height: 700px;
}

.btn-primary {
    background-color: #25E6C8 !important;
    border-color: #25E6C8 !important;
}

.btn-primary:hover {
    background-color: #2BAAEC !important;
    border-color: #2BAAEC !important;
}


@media(min-width: 1200px) {
    .navbar {
        height: 180px;
    }

}

@media(min-width: 992px) {
    #showcase h1 {
        font-size: 3,75rem;
    }

}

@media(min-width: 300px) {
    .f-1 {
        text-align: center;
    }

}
