* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.topbar {
    background-color: lightslategray;
    box-shadow: 5px 4px 6px 3px rgb(187, 187, 187);
    border-bottom: 2px solid rgb(128, 128, 128);

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: 0.6rem;
}

.logo {
    font-size: 0.9rem;
    color: white;

}

.logo i {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.menu {
    margin-right: 1rem;
    
}








@media (min-width: 576px) {
    .container {
      max-width: 440px;
    }
  }
  @media (min-width: 768px) {
   .container {
      max-width: 620px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 860px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1040px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1220px;
    }
  }